/* Import the "Montserrat" font with a font weight of 600 from Google Fonts, and use "swap" display option for better performance. */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

/* Apply the following styles to all HTML elements on the page. */

body {
  /* Set the background color of the page to white. */
  background-color: #f5f5f5;
}

/* Set the font-family for all elements to "Montserrat" first, and then fallback to a generic sans-serif font. */
* {
  font-family: "Montserrat", sans-serif;

  /* Set the box-sizing property to "border-box". */
  /* This ensures that the element's width and height include the padding and border, but not the margin. */
  box-sizing: border-box;

  /* Remove any default margins applied by the browser for all elements. */
  margin: 0;

  /* Remove any default padding applied by the browser for all elements. */
  padding: 0;

  /* Remove any default outline applied by the browser for all elements. */
  color: rgb(69, 69, 69);
}